<%= render partial: "shared/nav_bar", locals: {user: @user} %>
<div class="container">
  <div class="all-forms" id='album-form'>
    <h4>Add New Album</h4>
    <%= render partial: "shared/error_box", locals: {errors: @errors}  %>
    <br>
    <%= form_for @album do |f| %>
      <div class = "input-field">
        <%= f.label :artist_id %>
        <%= select_tag :artist_id, options_for_select(@user.artists.collect{ |artist| [ artist.full_name, artist.id] }), prompt: "Select an artist" %>
      </div>
      <div class = "input-field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class = "input-field">
        <%= f.label :release_year %>
        <%= f.number_field :release_year %>
      </div>
      <%= f.submit "Add"%>
    <% end %>
  </div>
</div>
