<%= render partial: "shared/nav_bar", locals: {user: @user} %>
<h1><%= @user.username %>'s Collection</h1>
<h3>Artists</h3>
<ul>
  <% @collection[:artists].each do |artist| %>
    <li><img src="/assets/yellow_star.png" id="fav_artist_<%= artist.id %>" class="artist-fav-star" style="<%= 'display: none;' unless artist.is_favorite %>"><img src="/assets/blank_star.png" id="not_fav_artist_<%= artist.id%>" class="artist-blank-star" style="<%= 'display: none;' if artist.is_favorite %>"><%= artist.full_name %> <%= link_to "View", artist %> <%= link_to "Edit", edit_artist_path(artist) %> <%= link_to "Delete", artist, method: "delete", data: {confirm: "Are you sure you want to remove this artist from your collection?"} %></li>
  <% end %>
</ul>
<p><%= link_to "Add New Artist", new_artist_path %></p>
<h3>Albums</h3>
<ul>
  <% @collection[:albums].each do |album| %>
    <li><img src="/assets/yellow_star.png" id="fav_album_<%= album.id %>" class="album-fav-star" style="<%= 'display: none;' unless album.is_favorite %>"><img src="/assets/blank_star.png" id="not_fav_album_<%= album.id%>" class="album-blank-star" style="<%= 'display: none;' if album.is_favorite %>"><%= album.title %> <%= link_to "View", album %> <%= link_to "Edit", edit_album_path(album) %> <%= link_to "Delete", album, method: "delete", data: {confirm: "Are you sure you want to remove this album from your collection?"} %></li>
  <% end %>
</ul>
<p><%= link_to "Add New Album", new_album_path %></p>
<h3>Songs</h3>
<ul>
  <% @collection[:songs].each do |song| %>
    <li><img src="/assets/yellow_star.png" id="fav_song_<%= song.id %>" class="song-fav-star" style="<%= 'display: none;' unless song.is_favorite %>"><img src="/assets/blank_star.png" id="not_fav_song_<%= song.id%>" class="song-blank-star" style="<%= 'display: none;' if song.is_favorite %>"><%= song.title %> <%= link_to "View", song %> <%= link_to "Edit", edit_song_path(song) %> <%= link_to "Delete", song, method: "delete", data: {confirm: "Are you sure you want to remove this song from your collection?"} %></li>
  <% end %>
</ul>
<p><%= link_to "Add New Song", new_song_path %></p>
