<%= render partial: "shared/nav_bar", locals: {user: @user} %>
<h1><%= @user.username %>'s Collection</h1>
<h3>Artists</h3>
<ul>
  <% @collection[:artists].each do |artist| %>
    <li><%= artist.full_name %> <%= link_to "View", artist %> <%= link_to "Edit", edit_artist_path(artist) %> <%= link_to "Delete", artist, method: "delete", data: {confirm: "Are you sure you want to remove this artist from your collection?"} %></li>
  <% end %>
</ul>
<p><%= link_to "Add New Artist", new_artist_path %></p>
<h3>Albums</h3>
<ul>
  <% @collection[:albums].each do |album| %>
    <li><%= album.title %> <%= link_to "View", album %> <%= link_to "Edit", edit_album_path(album) %> <%= link_to "Delete", album, method: "delete", data: {confirm: "Are you sure you want to remove this album from your collection?"} %></li>
  <% end %>
</ul>
<p><a href="/albums/new">Add New Album</a></p>
<h3>Songs</h3>
<ul>
  <% @collection[:songs].each do |song| %>
    <li><%= song.title %> <%= link_to "View", song %> <%= link_to "Edit", edit_song_path(song) %> <%= link_to "Delete", song, method: "delete", data: {confirm: "Are you sure you want to remove this song from your collection?"} %></li>
  <% end %>
</ul>
<p><a href="/songs/new">Add New Song</a></p>
